{% extends "pages/base.html" %}

{% block title %} {{user.username}} {% endblock %}
{% block content %}
   <center>

   <p> Họ và tên: {% if user.first_name%}
      {{user.first_name}} {{user.last_name}}
   {% else %}
      {{user.username}}
   {% endif %}
   </p>
   
   <form action="" method="POST" enctype="multipart/form-data"> 
    {% csrf_token %} 
    <p> Tải ảnh đại diện tại đây </p>  
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" />
   </form>
   <br>
   </center>
   {% comment %} {{ $con = mysql_connect("localhost","root","voquocbao")}} {% endcomment %}
   

{% endblock %}