{% extends "pages/base.html" %}
{% block extrastyle %}

    <link rel="stylesheet" href="/static/css/style_post.css" type="text/css">
    <script type="text/javascript" src="/static/js/js_post.js"></script>
    <meta property="og:url"             content="https://127.0.0.1:8000/blog/{{post.id}}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content= {{post.title}} />
    <meta property="og:description"   content= {{post.title}}/>
    <meta property="og:image"         content={{post.image.url}} />


{% endblock %}
{% block title %}{{post.title}}{% endblock %}
 
{% block content %}
<body id="PostDetail">
    <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" 
            src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v11.0" 
            nonce="K1eYxXUP">
        </script>
        <script async defer crossorigin="anonymous" 
            src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v11.0" 
            nonce="CPjKqXM3">
        </script>

    <h3 > {{post.title}}</h3>
    
    <center> <img src="{{post.image.url}}" width="px" height="300px" /> </center>

    <em>Thích: {{total_likes}} &nbsp; Không thích: {{total_dislikes}}  </em>
    <em>Lượt chia sẻ: {{total_shares}} &nbsp; Lượt xem: {{total_views}}  </em>
    <h6>on {{post.date}}</h6>
    </br>
    </br>
    {{post.content|safe|linebreaks}}
    
    
    

    <form  action="{% url 'like_post' post.pk %}" method="POST" class ="interact">
        {%csrf_token %}
        <button class="like" type = "submit">
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        </button>
    </form>
    
    <form  action="{% url 'dislike_post' post.pk %}" method="POST" class ="interact">
        {%csrf_token %}
        <button class="dislike" type ="submit">
            <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
        </button>
    </form>
    
    <form action="{% url 'share_post' post.pk %}" method ="POST" class= "interact">
        <button type = "submit" class = "my-3 fb-share-button" style ="border:none"
            data-href="https://127.0.0.1:8000/blog/{{post.id}}" 
            data-layout="button" 
            data-size="large">
            <a target="_blank" 
                href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" 
                class="fb-xfbml-parse-ignore">Share
            </a>
        </button>
    </form>

    
    </br>
    <hr>
    </br>
    {% for comment in post.comments.all %}

        <strong class="font-weight-bold" style = "color:rgb(68, 66, 230)">{{comment.author.first_name}} {{comment.author.last_name}}</strong> <br>
        <em style = "font-size:12px;">{{comment.date}}</em>
        <p>{{comment.body|linebreaks}}</p>

        <!-- <a onclick="click_line_cmt(comment)"> Thích</a> -->
    {% endfor %}
        
    <div class ="row">
        <div class="col-sm-12">
            {% if user.first_name %}
                <form action="{% url 'post' post.id %}" method="POST" class ="form-com" >
                    {% csrf_token %}
                    {{form.body}}
                    
                    <br/>
                    <input type="submit" value="Bình luận"/>
                </form>
            {% endif %}
        </div>
    </div>

</body>
{% endblock %}